.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}
body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
#luck {
  font-weight: bold;
  font-style: italic;
}
.timer-words{
  color: black;
  float: right;
}
#question{
  font-size: 25px;
  font-weight: bold;
}
#end-form{
  display: none;
}